body {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}
li {
    list-style: none;
}
ol > li {
    list-style: decimal-leading-zero;
}

#top {
    height: 200px;
}
#top-left {
    width: 18%;
    height:100%;
    float:left;
}
#top-right {
    width: 81%;
    height: 100%;
    float: right;
    position:relative;
    line-height:15px;
}
#home {
    width:100%;
    height: 33%;
}
#home > img {
    width:100%;
    height: 60%;
}
#left-text {
    background-color: #194796;
    color: white;
    width: 100%;
    height: 66%;
    text-align: center;
    line-height: 140px;
}

#menu {
    position:relative;
}
#menu > li {
    float: right;
    height:40px;
    padding: 5px 30px;
    font-weight: bold;
    position:relative;
}
#menu > li > ul {
    position: absolute;
    top: 49px;

    text-align: center;
    width: 150px;
    display: none;
}
#menu > li:hover > ul {
    display: block;
}
#menu >  li > ul:hover {
    display: block;
}
#menu > li > ul > li {
    font-size: 8px;
    height:25px;
    line-height:25px;
    background-color:lightgray;
}
#menu > li > ul > li:hover {
    background-color: white;
    color: orange;
}
#top-right > a {
    position: absolute;
}
#top-right > a:nth-child(1) {
    top: 120px;
    left: 10px;
    font-weight: 600;
    color: gray;
}
#top-right > a:nth-child(2) {
    top: 150px;
    left: 10px;
    font-size: 40px;
}

#mid {
    margin-top:20px;
    height: 800px;
}
#mid-left {
    width: 18%;
    height: 100%;
    float: left;
}
#mid-right {
    width: 80%;
    height: 100%;
    float: right;
    margin: 0 auto;
}

#mid-left > div{
    margin-top: 10px;
}
#mid-menu-1 > div{
    height:30px;
    line-height:30px;
    text-indent:10px;
}
#mid-menu-1 > div:nth-child(1) {
    background-color: gray;
    color: white;
}
#mid-menu-1 > div:nth-child(2) {
    background-color: lightgray;
    margin-top: 5px;
}
#mid-menu-1 > div:nth-child(3) {
    background-color: lightgray;
    margin-top: 5px;
}
#mid-menu-1 > div:nth-child(2):hover {
    background-color: gray;
    color: white;
}
#mid-menu-1 > div:nth-child(3):hover {
    background-color: gray;
    color: white;
}

#mid-menu-2 {
    height:80px;
    font-size:14px;
    border: 1px solid lightgray;
    padding: 10px;
}
#mid-menu-2inside {
    padding-top: 5px ;
}
#phoneimg {
    padding-top: 10px;
}


#phoneimg > .color-red > b {
    margin: 5px;
   /* 않이 가운데로 안감 */
}

#mid-menu-3 {
    height:200px;
    border: 1px solid lightgray;
}
#mid-menu-4 {

}
#mid-menu-4 > table {
    font-size: 14px;
    text-align: center;
}

#mid-content-1{

}

#mid-content-2 {
    height: 100px;
    text-align: center;
    position: relative;
}
#mid-content-2 > ul{
    position: absolute;
    left: -40px;
    top: 20px;
}
#mid-content-2 > ul > li{
    float: left;
    margin-left: 8px;
}
#mid-content-2 > ul > li:nth-child(1){
    margin-left: 0;
}
#mid-content-2 > ul > li > div{
    border: 1px solid #194796;
    color: black;
    width: 190px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}
/*//////////////////////////////////////////////*/
#mid-content-2 > ul > li:nth-child(1) > div{
    background-color: #194796;
    color: white;
}
#mid-content-3 > ul > li:nth-child(1){
    display: block;
}
/*//////////////////////////////////////////////*/

#mid-content-2 > ul > li > div:hover{
   background-color: #194796 !important;
    color: white !important;
    cursor: pointer;
}

#mid-content-3 {
    width: 100%;
    height: 450px;
    position: relative;
}
#mid-content-3 > ul {
    position: relative;
}
#mid-content-3 > ul > li {
    position: absolute;
    left: 0px; top: -15px;
    display: none;
}
#mid-content-3 > ul > li > div{
    width: 800px;
}

#con-1{
    height: 450px;
}
#con-1 > div{
    border: 1px solid white;
}
#con-1 > div:nth-child(1){
    width: 55%;
    height: 220px;
    float: left;
    font-size: 14px;
    border: 1px solid lightgray;
}
#con-1 > div:nth-child(2){
    width: 40%;
    height: 220px;
    float: right;
}
#con-1 > div:nth-child(3){
    width: 40%;
    height: 220px;
    float: left;
    margin-top: 20px;
}
#con-1 > div:nth-child(4){
    width: 55%;
    height: 200px;
    float: right;
    margin-top: 50px;
    text-align: center;
    font-size: 11px;
}

#con-2{
    height: 450px;
}
#con-2 img{
    width: 32%;
    height: 90%;
}
#con-2 > div{
    float: left;
}
#con-2 > div:nth-child(1){
    width: 100%;
    height: 110px;
    font-size: 13px;
    border: 1px solid lightgray;
}
#con-2 > div:nth-child(2){
    width: 15%;
    background-color: #194796;
    color: white;
    margin-top: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px 10px 0 0;
}
#con-2 > div:nth-child(4){
    width: 15%;
    background-color: #194796;
    color: white;
    margin-top: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px 10px 0 0;
}
#con-2 > div:nth-child(3){
    width: 100%;
    border-top: 1px solid lightgray;
    height: 200px;
}
#con-2 > div:nth-child(5){
    width: 100%;
    border-top: 1px solid lightgray;
    height: 200px;
}

#con-3{
    height: 450px;
}
#con-3 > div:nth-child(1){
    width: 52%;
    height: 300px;
    font-size: 12px;
    border: 1px solid lightgray;
    line-height: 26px;
    float: left;
}
#con-3 > div:nth-child(1) > ol > li::before{
    color: #194796;
    font-weight: 600;
}
ol {
    counter-reset: myOrderedListItemsCounter;
}
ol li {
    list-style-type: none;
    position: relative;
}
ol li:before {
    counter-increment: myOrderedListItemsCounter;
    content: counter(myOrderedListItemsCounter, decimal-leading-zero)".";
    margin-right: .5em;
}
#con-3 > div:nth-child(2){
    width: 45%;
    height: 260px;
    float: right;
    margin-top: 20px;
}

#con-4{
    height: 450px;
}
#con-4 > div:nth-child(1){
    width: 100%;
    height: 100px;
    font-size: 13px;
    border: 1px solid lightgray;
}
#con-4-mid{
    margin-top: 40px;
}
#con-4-mid > div:nth-child(1){
    width: 46%;
    float: left;
}
#con-4-mid > div:nth-child(1)>div{
    width: 100%;
    float: left;
    margin-top: 20px;
}
#con-4-mid > div:nth-child(1) > div:nth-child(2n-1){
    font-size: 24px;
    border-left: 8px solid #194796;
    text-indent: 10px;
}
#con-4-mid > div:nth-child(1) > div:nth-child(2n){
    font-size: 13px;
}
#con-4-mid > div:nth-child(2){
    width: 54%;
    float: right;
    margin-top: 60px;
}

#bottom {
    height: 100px;
}
#bottom-left {
    width: 18%;
    height: 100%;
    float: left;
}
#bottom-right {
    width: 81%;
    height: 100%;
    float: right;
    font-size: 8px;
    position: relative;
    color: gray;
}
#bottom-right > ul {
    position: absolute;
    top: 10px;
    left: -50px;
}
#bottom-right > ul > li{
    float: left;
    margin-right:10px;
    padding-left:10px;
}
#bottom-right > div {
    position: absolute;
    top: 40px;
    left: 0px;
}
#bottom-right button {
    font-size:4px;
    background-color:white;
    height:18px;
    border: none;
}
#phoneimg > img {
    width: 40px; height: 40px;
}

.color-blue {
    color: #2569b2;
}
.color-red {
    color: red;
}
.color-gray {
    color: gray;
}
.font-bold {
    font-size: 14px;
    font-weight: bolder;
}
.font-size-up {
    font-size: 16px;
}
.font-size-up-up {
    font-size: 20px;
}