/* * {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}  키지 마세요 */
li {
    list-style: none;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #2569b2;
}
#wrapmaster {
    margin: 0 auto;
}
#topmenudiv {
    position: relative;
    height: 100px;
    font-family: NanumGothic, '나눔고딕', 'Open Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    z-index: 9999;
    opacity: .8;
    background-color: white;
    border-bottom: 1px solid white;
}
div#toptitle {
    position: absolute;
    left: 25px;
    bottom: 20px;
}
#topmenu {
    position: absolute;
    right: 100px;
    bottom: 35px;
}
#topmenu>ul {
    width: 600px;
}
#topmenu li {
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}
#topmenu li>ul {
    position: absolute;
    background-color: black;
    color: white;
    left: 0px;
    top: 20px;
    width: 100px;
    display: none;
}
#topmenu li>ul>li {
    float: none;
    width: 25%;
    width: 100%;
}
#topmenu li:hover {
    background-color: skyblue;
}
#topmenu li:hover>ul {
    display: block;
}

#midmenu {
    width: 100%;
    border: 1px solid #ddd;
}
#midwrap {
    justify-content: center;
}
#midwrap li {
    display: inline-block;
    position: relative;
}
#midwrap>ul {
    display: flex;
}
#midwrap>ul>li {
    margin: 20 40px;
}
#midwrap li:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 55px;
    width: 1px;
    height: 100px;
    background: rgba(0, 0, 0, 0.1);
}
#midwrap li:first-child:after {
    display: none;
}
#midcirclebox {
    height: 250px;
    width: 250px;
}
#midcirclebox>h4,p {
    text-align: center;
}
#midcirclebox>h4 {
    margin: 15px;
    color: black;
    font-size: 20px;
}
#midcirclebox>p {
    color: #969696;
    font-size: 13px;
}
#circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #2569b2;
    margin: 0 auto;
}
#circle>img {
    margin: auto;
    display: flex;
    padding-top: 30px;
    width: 100px;
}



#Mb-menu {
    /* border: 1px solid yellow; */
    width: 100%;
}
#Mb-wrap {
    /* border: 1px solid green; */
    width : 100%;
}
#Mb-wrap>ul {
    display: flex;
    padding-left: 60px;
}
#Mb-wrap>ul>li {
    margin: 5 20;
    border: 1px solid #ddd;
    height: 320px;
}
#Mb-box {
    width: 380px;
    padding: 0 10px;
}
#title {
    margin: 10 0 0 10px;
}
#title > c {
    font-size: 15px;
    color: #777;
}
#title > b {
    font-size: 30px;
    color: #2569b2;
    padding-left: 90px;  
}
#schedule {
    width: 350px;
    width: 100%;
    border: 1px solid  #fafafa;  
    background-color: #fafafa;
    padding: 20px 0px;
    box-sizing: border-box;
}
#schedule>span {
    display: inline-block;
    background-color: #2569b2;
    color: white;
    padding: 3px 3px;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 5px;
    min-width: 90px;
    text-align: center;
}




#footerdiv {
    height: 300px;
    overflow: hidden;
}
.footer_01:after {
    content: '';
    display: block;
    clear: both;
}
.footer_01 {
    padding: 20px 0;
    display: flex;
}
.footer_logo {
    float: none;
    padding: 10px 0;
    text-align: center;
}
.footer_logo {
    float: left;
    padding: 40px 0 0 0;
}
.footer_logo img {
    height: 40px;
}
.footer_info {
    float: none;
    padding-left: 0;
    text-align: center;
}
.footer_info {
    float: left;
    text-align: left;
    padding-left: 50px;
}
.navi_foot {
    margin-bottom: 20px;
}
.navi_foot li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
.navi_foot li:first-child {
    padding: 0 10px 0 0;
}
.navi_foot li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 1px;
    height: 10px;
    background: #666;
}
.navi_foot li:first-child:after {
    display: none;
}
.navi_foot li a {
    display: block;
    color: #999;
    font-size: 12px;
}
.navi_foot li a:hover {
    text-decoration: underline;
}
.address ul {
    text-align: center;
    text-align: left;
}
.address ul li {
    position: relative;
    display: inline-block;
    padding: 0 2px;
    font-size: 12px;
    font-family: Arial;
    color: #999;
    line-height: 20px;
    text-align: left;
}
















